<div class="container">
	<div class="lead well">
		<div class="media">
			<div class="media-left">
				<a href="#">
					<img class="media-object" src="<%= @question.gravatar %>">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading"><%= @question.email %> asked:</h4>
				<%= @question.body %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div>
				<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-answer-modal">Submit new answer</button>
			</div>

			<%= render 'home/new_answer_form' %>

			

			<div class="media">
				<div class="media-left">
					<a href="#">
						<img class="media-object" src="http://www.gravatar.com/avatar/424242">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">user@email.com answered:</h4>
					Lorem ipsum dlor sit amet, consectetur adip.
				</div>
			</div>

			<div class="media">
				<div class="media-left">
					<a href="#">
						<img class="media-object" src="http://www.gravatar.com/avatar/424242">						</a
					</div>
					<div class="media-body">
						<h4 class="media-heading">user@email.com answered:</h4>
						Lorem ipsum dlor sit amet, consectetur adip.
					</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="http://www.gravatar.com/avatar/424242">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">user@email.com answered:</h4>
						Lorem ipsum dlor sit amet, consectetur adip.
					</div>
				</div>
			
			</div>
		</div>
	</div>
</div>


